h1 {
    color: cornflowerblue;
}

p, li {
    color: green;
}

a:link {
    color: orange;
}
  
a:visited {
    color: darkorange;
}

a:hover {
    text-decoration: none;
}

body {
    background-color: pink;
}
  
@media (min-width: 50em) {
    body {
      background-color: lightblue;
    }
}

div {
    display: block;
    width: fit-content;
    padding: 10px 50px;
    border-style: solid;
    border-width: 2px;
    border-color: darkcyan;
}