h1 {
    color: cornflowerblue;
}

p, li {
    color: green;
}

a:link {
    color: orange;
}
  
a:visited {
    color: darkorange;
}

a:hover {
    text-decoration: none;
}

body {
    background-color: pink;
}
  
@media (min-width: 50em) {
    body {
      background-color: lightblue;
    }
}
